body {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1250px;
    background-color: #f5f0f0;
    font-family: "Arial";
    font-weight: normal;
    font-size: 16px;
    color: #1e1e1e;
    overflow: hidden;
}

/* Шапка */

.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 37px 60px;
}

.header-link {
    margin-top: 10px;
}

/* кто мы */

.about-us {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
}

.section-picture {
    width: 920px;
    height: 570px;
}

.section-info {
    background-color: #fff;
    width: 460px;
    height: 419px;
    z-index: 15;
    position: absolute;
    top: 64px;
    padding: 22px 30px 0 60px;
}

.block--left {
    left: 0;
}

.title {
    color: #4764b0;
    font-size: 32px;
    font-weight: 700;   
}

.section-info .title {
    margin-bottom: 17px;
}

.section-info-text {
    margin: 0;
    text-align: left;
    line-height: 1.47em;
    margin-bottom: 14px;
}

/* Наши проекты */

.our-projects::before {
    content: '';
    position: absolute;
    width: 76%;
    height: 1692px;
    top: -788px;
    left: 298px;
    border-left: 2px solid #d2c8c8;
    border-bottom: 2px solid #d2c8c8;
}

.block--right {
    right: 0;
}

.our-projects {
    margin-top: 97px;
    padding-bottom: 47px;
    position: relative;
}

.our-projects .title {
    margin-bottom: 18px;
}

.section-text {
    line-height: 1.5em;
    margin: 0;
}

.title--thin {
    font-size: 1.03em;
    margin-bottom: 14px;
}

.section-content {
    width: 703px;
    margin: 0 auto;
    padding-left: 113px;
}

.main-content {
    display: flex;
    margin-top: 55px;
    position: relative;
    margin-bottom: 36px;
}

.our-projects .section-info {
    top: 35px;
    width: 389px;
    height: 345px;
    padding-top: 45px;
    padding-left: 52px;   
}

.our-projects .section-info-text {
    margin: 0;
    text-align: left;
    line-height: 1.5em;
    margin-bottom: 14px;
    width: 354px;
}

.our-projects .slider-buttons {
    position: absolute;
    right: 61px;
    top: 470px;
    cursor: pointer;
}

.swiper-container {
    width: auto;
    height: auto;
}

.slider-one {
    width: 930px;
    height: 570px;
    margin-left: 0;
}

.swiper-pagination {
    display: none;
}

/* Интеко сейчас */

.now {
    margin-top: 44px;
    position: relative;
    padding-bottom: 6px;
}

.now .title {
    margin-bottom: 16px;
    margin-left: 60px;
}

.now .section-text {
    width: 490px;
}

.now .section-content {
    display: flex;
    width: 100%;
    padding-left: 32px;
}

.numbers {
    display: flex;
    width: 50%;
    padding-top: 4px;
}

.content-info {
    width: 46.7%;
    padding-left: 28px;
}

.bold {
    font-weight: 700;
    text-transform: uppercase;
}

.number {
    font-size: 47px;
    font-weight: 700;
    margin-right: 2px;
}

.now .main-content {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 53px;
    margin-bottom: 54px;
    position: relative;
}

.now .main-content::before {
    content: '';
    position: absolute;
    width: 76%;
    height: 623px;
    top: 0px; 
    left: 298px;
    border-left: 2px solid #d2c8c8;
    border-bottom: 2px solid #d2c8c8;
}

.people {
    width: 40%;
    margin-right: 57px;
}

.buildings {
    width: 40%;
}

.numbers .section-text {
    width: auto;
}

.main {
    margin-top: -7px;
    margin-bottom: 2px;
}

.section-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    color: #1e1e1e;
    line-height: 1.5em;
    padding-bottom: 9px;
    padding-left: 9px;
    max-width: 385px;       
}

.list-item::before {
    position: relative;
    content: '';
    width: 16px;
    background-color: #4764b0;
    height: 1px;
    display: block;
    top: 14px;
    right: 24px;
}

.now .section-info {
    top: 35px;
    padding-top: 61px;
    padding-left: 76px;
    width: 364px;
    height: 439px;
}

.now .section-info::before {
    border-top: 2px solid #d2c8c8;
    content: '';
    position: absolute;
    width: 63.5%;
    height: 666px;
    top: -35px;
    left: 0;
}

/* Принципы работы */

.work-principles {
    margin-top: 38px;
    padding-left: 60px;
}

.work-principles .section-text {
    width: 1079px; 
    line-height: 1.59em;
}

.work-principles .title--thin {
    margin-bottom: 5px;
    word-spacing: normal;
    font-size: 1.099em;
    font-weight: normal;
}

.slider-two {
    background-color: #fff;
    height: 292px;
    position: relative;
    padding-top: 29px;
    padding-left: 50px;
}

.work-principles .title {
    margin-bottom: 52px;
}

.line {
    margin-bottom: 30px;
    width: 1080px;
}

.buttons-two {
    top: 44px;
    right: 60px;
    position: absolute;
    z-index: 20;
}

.next {
    height: 10px;
    cursor: pointer;
}

.prev {
    height: 10px;
    cursor: pointer;
}

/* Компания предлагает */

.offer {
    padding-top: 70px;
    padding-bottom: 43px;
}

.offer .title {
    text-align: center;
    padding-left: 78px;
    margin-bottom: 103px;
}

.offer .section-picture {
    position: relative;
    width: 800px;
    height: 578px;
}

.offer .section-info {
    height: 823px;
    top: -50px;
    padding-top: 43px;
    padding-left: 67px; 
    width: 374px;
}

.offer .main-content {
    margin-bottom: 0;
    height: 823px;
}

.offer .list-item {
    max-width: 331px;
}

.buttons-three {
    position: absolute;
    bottom: -174px;
    left: 60px;
}

.offer .main-content::before {
    border-top: 2px solid #d2c8c8;
    border-right: 2px solid #d2c8c8;
    content: '';
    position: absolute;
    width: 23.8%;
    height: 1047px;
    top: -182px;
    left: 0;
}

.slider-three {
    width: 800px;
    height: 578px;
    margin-left: 0;
    overflow: visible;
    position: relative;
}

@media (max-width: 699px) {

    .swiper-container {
        width: 93.5%;
        height: 32.1%;
    }

    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 11.5%;
    }

    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #fff;
        opacity: 1;
        background: #fff;
        border-radius: 100%;
      }

      .swiper-pagination-bullet .swiper-pagination-bullets {
          margin: 0 6px;
      }
  
      .swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
      }

    .container {
        min-width: 300px;
        font-size: 0.87em;
        overflow-x: hidden;
    }

    .mobile {
        width: 100%;
    }

    /*  Шапка */

    .header {
        padding: 7.5% 7% 10% 7%;
        position: relative;
        z-index: 20;
    }

    .header-link {
        display: none;
    }

    .header-logo img {
        width: 70%;
        height: 100%;
    }

    /* Кто мы */

    .about-us {
        flex-direction: column;
    }

    .title {
        font-size: 1.71em;
    }

    .section-picture {
        width: 93.5%;
        height: 32.1%;
    }

    .about-us .section-picture {
        width: 93.5%;
        height: 32.1%;
        margin-left: 7%;
    }

    .section-info {
        position: static;
        width: 79.5%;
        padding: 5% 7.8% 11% 6.5%;
        margin-top: -14%;
        height: auto;
    }

    .section-info-text {
        font-size: 0.86em;
        margin-bottom: 3.2%;
        line-height: 1.56em;   
    }

    .section-content {
        width: 250px;
        margin: 0 auto;
        padding-left: 64px;
    }

    .section-info .title {
        font-size: 1.7em;
        margin-bottom: 5%;
    }

    /* Наши проекты */

    .our-projects {
        margin-top: 10.8%;
        padding-bottom: 12.9%;
    }

    .our-projects .section-content {
        padding-left: 4%;
        width: 84%;
    }

    .our-projects::before {
        content: '';
        position: absolute;
        width: 97%;
        height: 200.1%;
        top: -100%;
        left: 3.2%;
        border-left: 1px solid #d2c8c8;
        border-bottom: 1px solid #d2c8c8;
    }

    .our-projects .section-info {
        position: static;
        width: 79.5%;
        padding: 3.8% 7.8% 8% 6.5%;
        height: auto;
        margin-top: -10.5%;
        margin-left: 6.5%;
    }

    .title--thin {
        font-size: 0.95em;
        word-spacing: normal;
        margin-bottom: 3.9%;
    }

    .our-projects .title {
        margin-bottom: 6%;
    }

    .section-text {
        line-height: 1.5em;
        margin: 0;
        font-size: 0.87em;
        width: 100%;
    }

    .our-projects .section-info-text {
        width: 95%;
        margin-bottom: 0;
        text-align: left;
        line-height: 1.58em;
    }

    .our-projects .main-content {
        height: auto;
        margin-top: 6.8%;
        margin-bottom: 8%;
        display: flex;
        flex-direction: column;
    }

    /* Интеко сейчас */

    .now {
        margin-top: 12.5%;
        position: relative;
        padding-bottom: 8%;
        margin-bottom: 0;
    }

    .now .title {
        margin-bottom: 4.7%;
        margin-left: 6%;
    }

    .now .section-text {
        width: 89%;
    }

    .now .section-content {
        padding-left: 0;
    }

    .now .section-picture {
        height: 32.1%;
        width: 93.5%;
        margin-top: -9.9%;
        margin-left: 7%;
    }

    .now .section-info {
        position: static;
        width: 79.5%;
        padding: 8.5% 3.8% 6% 10.5%;
        margin-top: 12%;
        padding-bottom: 6%;
        height: auto;
    }

    .now .list-item {
        color: #1e1e1e;
        line-height: 1.51em;
        max-width: 89%;
        font-size: 0.86em;
        padding-bottom: 2.9%;
        padding-left: 3%;
    }

    .now .main-content::before {
        content: '';
        position: absolute;
        width: 97%;
        height: 100.5%;
        top: 3%;
        left: 3.4%;
        border-left: 1px solid #d2c8c8;
        border-bottom: 1px solid #d2c8c8;
    }

    .now .section-info::before {
        border-top: 1px solid #d2c8c8;
        content: '';
        position: absolute;
        width: 3.5%;
        top: 2.9%;
        left: 0;
    }

    .now .list-item::before {
        position: relative;
        content: '';
        width: 13px;
        background-color: #4764b0;
        height: 1px;
        display: block;
        top: 10px;
        right: 19px;
    }

    .content-info {
        width: 46.7%;
        padding-left: 6.5%;
    }

    .numbers {
        flex-direction: column;
        padding-top: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        padding-left: 4%;
        margin-bottom: 4%;
        margin-top: -3%;
        height: auto;
    }

    .people {
        margin-right: 0;
        margin-bottom: 7%;
        width: 100%;
    }

    .buildings {
        width: 61%;
        padding-left: 1%;
    }

    .buildings .main {
        margin-bottom: 7%;
    }

    .numbers .section-text { 
        width: 77%;
        padding-left: 4%;
    }

    .bold {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.85em;
        padding-left: 4%;
    }

    .main .bold {
        padding-left: 0;
    }

    .number {
        font-size: 2.5em;
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 3%;
    }

    .now .main-content {
        margin-top: 3%;
        margin-bottom: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .slider-buttons {
        display: none;
    }

    /* Принципы работы */

    .work-principles {
        padding-left: 7%;
        margin-top: 14%;
    }

    .work-principles .title {
        margin-bottom: 9%;
        width: 92%;
    }

    .slider-two {
        background-color: #fff;
        height: auto;
        position: relative;
        width: 100%;
        padding-top: 7%;
        padding-left: 7%;
        padding-bottom: 15%;
    }

    .work-principles .title--thin {
        margin-bottom: 3%;
        word-spacing: normal;
        font-size: 1em;
        width: 82%;
        line-height: 1.45em;
    }

    .work-principles .section-text {
        width: 88%;
        font-size: 0.87em;
        line-height: 1.5em;
    }

    .line {
        margin-bottom: 7.2%;
        width: 84%;
        margin-left: -1px;
        height: 4px; 
        background-image: url("images/divider-mobile.svg");
    }

    .line img {
        display: none;
    }

    .pagination--violet .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        opacity: 1;
        background: #4664af;
        border-radius: 100%;
      }

      .pagination--violet .swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        opacity: 1;
        background: #4664af;
        border-radius: 100%;
      }

      .swiper-slide {
          height: auto;
      }

      .pagination--violet {
        margin-bottom: 1.4%; 
      }

    /* Компания предлагает */

    .offer {
        padding-top: 12%;
        padding-bottom: 18%;
    }

    .offer .main-content {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 9%;
    }

    .slider-three {
        margin-left: 0;
    }

    .offer .title {
        text-align: left;
        padding-left: 10%;
        width: 82%; 
        margin-bottom: 0;   
    }

    .offer .section-info {
        position: static;
        width: 79.5%;
        padding-top: 9.5%;
        padding-left: 10%;
        padding-right: 3.8%;
        margin-top: -15%;
        padding-bottom: 8%;
        height: auto;
        margin-left: 7%;
    }

    .offer .list-item {
        max-width: 93%;
        font-size: 0.86em;
        padding-bottom: 3%;
        padding-left: 3%;
        line-height: 1.58em;
    }

    .offer .main-content::before {
        border-top: 1px solid #d2c8c8;
        border-right: 1px solid #d2c8c8;
        content: '';
        position: absolute;
        width: 3.2%;
        height: 122%;
        top: -15.6%;
        left: 0;
    }

    .offer .list-item::before {
        position: relative;
        content: '';
        width: 13px;
        background-color: #4764b0;
        height: 1px;
        display: block;
        top: 10px;
        right: 19px;
    }

    .offer .section-picture {
        width: 93%;
        height: auto;   
    }

    .offer .swiper-pagination {
        margin-bottom: 16%;
    }

    .slider-three {
        width: 93.5%;
        height: 32.1%;
        overflow: hidden;
    }
}

@media (min-width: 700px) and (max-width: 1019px) {

    .swiper-container {
        width: 93.5%;
        height: 32.1%;
    }

    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 11.5%;
    }

    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #fff;
        opacity: 1;
        background: #fff;
        border-radius: 100%;
      }

      .swiper-pagination-bullet .swiper-pagination-bullets {
          margin: 0 6px;
      }
  
      .swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
      }

    .container {
        width: 610px;
        font-size: 1em;
        overflow-x: hidden;
    }

    .mobile {
        width: 100%;
    }

    /*  Шапка */

    .header {
        padding: 7.5% 7% 9% 7%;
        position: relative;
        z-index: 20;
    }

    .header-link {
        display: block;
    }

    .header-logo img {
        width: 70%;
        height: 100%;
    }

    /* Кто мы */

    .about-us {
        flex-direction: column;
    }

    .title {
        font-size: 1.71em;
    }

    .section-picture {
        width: 93.5%;
        height: 32.1%;
    }

    .about-us .section-picture {
        width: 93.5%;
        height: 32.1%;
        margin-left: 7%;
    }

    .section-info {
        position: static;
        width: 79.5%;
        padding: 4.5% 7.8% 11% 6.5%;
        margin-top: -14%;
        height: auto;
    }

    .section-info-text {
        font-size: 0.86em;
        margin-bottom: 2.9%;
        line-height: 1.5em;   
    }

    .section-content {
        width: 250px;
        margin: 0 auto;
        padding-left: 64px;
    }

    .section-info .title {
        font-size: 1.7em;
        margin-bottom: 6%;
    }

    /* Наши проекты */

    .our-projects {
        margin-top: 11.8%;
        padding-bottom: 12.9%;
    }

    .our-projects .section-content {
        padding-left: 3%;
        width: 83%;
    }

    .our-projects::before {
        content: '';
        position: absolute;
        width: 97%;
        height: 200.1%;
        top: -100%;
        left: 3.2%;
        border-left: 1px solid #d2c8c8;
        border-bottom: 1px solid #d2c8c8;
    }

    .our-projects .section-info {
        position: static;
        width: 79.5%;
        padding: 4% 7.8% 3% 6.5%;
        height: auto;
        margin-top: -11.5%;
        margin-left: 6.5%;
    }

    .title--thin {
        font-size: 0.95em;
        word-spacing: normal;
        margin-bottom: 4.9%;
    }

    .our-projects .title {
        margin-bottom: 5%;
    }

    .section-text {
        line-height: 1.5em;
        margin: 0;
        font-size: 0.86em;
        width: 100%;
    }

    .our-projects .section-info-text {
        width: 95%;
    }

    .our-projects .main-content {
        height: auto;
        margin-top: 7.8%;
        margin-bottom: 8%;
        display: flex;
        flex-direction: column;
    }

    /* Интеко сейчас */

    .now {
        margin-top: 12.5%;
        position: relative;
        padding-bottom: 7%;
        margin-bottom: 0;
    }

    .now .title {
        margin-bottom: 4.7%;
        margin-left: 6%;
    }

    .now .section-text {
        width: 89%;
    }

    .now .section-content {
        padding-left: 0;
    }

    .now .section-picture {
        height: 32.1%;
        width: 93.5%;
        margin-top: -10%;
        margin-left: 7%;
    }

    .now .section-info {
        position: static;
        width: 79.5%;
        padding: 7.5% 3.8% 7% 10.5%;
        margin-top: 12%;
        height: auto;
    }

    .now .list-item {
        color: #1e1e1e;
        line-height: 1.5em;
        max-width: 89%;
        font-size: 0.86em;
        padding-bottom: 3%;
        padding-left: 3%;
    }

    .now .main-content::before {
        content: '';
        position: absolute;
        width: 97%;
        height: 100%;
        top: 3%;
        left: 3.5%;
        border-left: 1px solid #d2c8c8;
        border-bottom: 1px solid #d2c8c8;
    }

    .now .section-info::before {
        border-top: 1px solid #d2c8c8;
        content: '';
        position: absolute;
        width: 3.5%;
        top: 3%;
        left: 0;
    }

    .now .list-item::before {
        position: relative;
        content: '';
        width: 13px;
        background-color: #4764b0;
        height: 1px;
        display: block;
        top: 14px;
        right: 19px;
    }

    .content-info {
        width: 46.7%;
        padding-left: 6.5%;
    }

    .numbers {
        flex-direction: column;
        padding-top: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        padding-left: 4%;
        margin-bottom: 4%;  
        margin-top: -2%;
        height: auto;
    }

    .people {
        margin-right: 0;
        margin-bottom: 7%;
        width: 100%;
    }

    .buildings {
        width: 61%;
        padding-left: 1%;
    }

    .buildings .main {
        margin-bottom: 7%;
    }

    .numbers .section-text { 
        width: 77%;
        padding-left: 4%;
    }

    .bold {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.85em;
        padding-left: 4%;
    }

    .main .bold {
        padding-left: 0;
    }

    .number {
        font-size: 2.5em;
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 3%;
    }

    .now .main-content {
        margin-top: 3%;
        margin-bottom: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .slider-buttons {
        display: none;
    }

    /* Принципы работы */

    .work-principles {
        padding-left: 7%;
        margin-top: 14%;
    }

    .work-principles .title {
        margin-bottom: 9%;
        width: 92%;
    }

    .slider-two {
        background-color: #fff;
        height: auto;
        position: relative;
        width: 100%;
        padding: 7% 0 15% 7%;
    }

    .work-principles .title--thin {
        margin-bottom: 3%;
        word-spacing: normal;
        font-size: 1em;
        width: 82%;
        line-height: 1.45em;
    }

    .work-principles .section-text {
        width: 88%;
        font-size: 0.87em;
        line-height: 1.5em;
    }

    .line {
        margin-bottom: 7.2%;
        width: 84%;
        margin-left: -1px;
        height: 4px; 
        background-image: url("images/divider-mobile.svg"); 
    }

     .line img {
        display: none;
    } 

    .pagination--violet .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        opacity: 1;
        background: #4664af;
        border-radius: 100%;
      }

      .pagination--violet .swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        opacity: 1;
        background: #4664af;
        border-radius: 100%;
      }

      .swiper-slide {
          height: auto;
      }

      .pagination--violet {
        margin-bottom: 1.4%; 
      }

    /* Компания предлагает */

    .offer {
        padding-top: 12%;
        padding-bottom: 10%;
    }

    .offer .main-content {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 9%;
    }

    .slider-three {
        margin-left: 0;
    }

    .offer .title {
        text-align: left;
        padding-left: 10%;
        width: 82%; 
        margin-bottom: 0;   
    }

    .offer .section-info {
        position: static;
        width: 79.5%;
        padding: 9.5% 3.8% 8% 10%;
        margin-top: -15%;
        height: auto;
        margin-left: 7%;
    }

    .offer .list-item {
        max-width: 93%;
        font-size: 0.86em;
        padding-bottom: 2.9%;
        padding-left: 3%;
    }

    .offer .main-content::before {
        border-top: 1px solid #d2c8c8;
        border-right: 1px solid #d2c8c8;
        content: '';
        position: absolute;
        width: 3%;
        height: 122%;
        top: -15.5%;
        left: 0;
    }

    .offer .list-item::before {
        position: relative;
        content: '';
        width: 13px;
        background-color: #4764b0;
        height: 1px;
        display: block;
        top: 14px;
        right: 19px;
    }

    .offer .section-picture {
        width: 93%;
        height: auto;   
    }

    .offer .swiper-pagination {
        margin-bottom: 16%;
    }

    .slider-three {
        width: 93.5%;
        height: 32.1%;
        overflow: hidden;
    }
}

@media (min-width: 1020px) and (max-width: 1339px) {
    
    .swiper-container {
        width: 73%;
        height: auto;
    }

    .swiper-pagination {
        display: none;
    }

    .container {
        width: 930px;
        font-size: 1.1em;
        overflow-x: hidden;
    }

    .mobile {
        width: 100%;
    }

    /*  Шапка */

    .header {
        padding: 5%;
    }

    .header-link {
        display: block;
    }

    .header-logo img {
        width: 150px;
        height: 40px;
    }

    /* Кто мы */

    .about-us {
        flex-direction: row-reverse;
    }

    .title {
        font-size: 1.71em;
    }

    .section-picture {
        width: 73%;
        height: 36.1%;
    }

    .about-us .section-picture {
        width: 73%;
        height: 36.1%;
    }

    .section-info {
        position: absolute;
        width: 39%;
        padding: 2% 3.5%;
        height: auto;
        top: 4%;
    }

    .section-info-text {
        font-size: 0.85em;
        margin-bottom: 3%;
        line-height: 1.45em;   
    }

    .section-content {
        width: 250px;
        margin: 0 auto;
        padding-left: 64px;
    }

    .section-info .title {
        font-size: 1.7em;
        margin-bottom: 3%;
        margin-top: 0;
    }

    /* Наши проекты */

    .our-projects {
        margin-top: 9%;
        padding-bottom: 0;
    }

    .our-projects .section-content {
        padding-left: 26.5%;
        width: 89%;
    }

    .our-projects::before {
        content: '';
        position: absolute;
        width: 97%;
        height: 203%;
        top: -100%;
        left: 24.2%;
        border-left: 2px solid #d2c8c8;
        border-bottom: 2px solid #d2c8c8;
    }

    .our-projects .section-info {
        position: absolute;
        width: 37%;
        padding: 3% 4%;
        height: auto;
        top: 8%;
        padding-right: 0;
    }

    .title--thin {
        font-size: 0.95em;
        word-spacing: normal;
        margin-bottom: 4.5%;
    }

    .our-projects .title {
        margin-bottom: 3%;
    }

    .section-text {
        line-height: 1.5em;
        margin: 0;
        font-size: 0.75em;
        width: 78%;
    }

    .our-projects .section-info-text {
        width: 96.5%;
    }

    .our-projects .main-content {
        height: auto;
        margin-top: 7.8%;
        margin-bottom: 5%;
    }

    .our-projects .slider-buttons {
        top: 374px;
    }

    /* Интеко сейчас */

    .now {
        margin-top: 8%;
        position: relative;
        padding-bottom: 7%;
        margin-bottom: 0;
    }

    .now .title {
        margin-bottom: 2%;
        margin-left: 6%;
    }

    .now .section-text {
        width: 89%;
    }

    .now .section-content {
        padding-left: 0;
    }

    .now .section-picture {
        height: 32.1%;
        width: 73%;
    }

    .now .section-info {
        position: absolute;
        width: 40%;
        padding: 3%;
        margin-top: 0;
        height: auto;
    }

    .now .list-item {
        color: #1e1e1e;
        line-height: 1.5em;
        font-size: 0.86em;
        padding-bottom: 3%;
        padding-left: 3%;
    }

    .now .main-content::before {
        content: '';
        position: absolute;
        width: 97%;
        height: 116%;
        top: 1%;
        left: 20%;
        border-left: 2px solid #d2c8c8;
        border-bottom: 2px solid #d2c8c8;
    }

    .now .section-info::before {
        border-top: 2px solid #d2c8c8;
        content: '';
        position: absolute;
        width: 44%;
        height: 666px;
        top: -33px;
        left: 0;
    }

    .now .list-item::before {
        position: relative;
        content: '';
        width: 13px;
        background-color: #4764b0;
        height: 1px;
        display: block;
        top: 14px;
        right: 19px;
    }

    .content-info {
        width: 45%;
        padding-left: 6.5%;
    }

    .numbers {
        flex-direction: row;
        padding-top: 0;
    }

    .main {
        padding-left: 4%;
        margin-bottom: 2%;  
        margin-top: -2%;
        height: auto;
    }

    .people {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }

    .buildings {
        width: 61%;
        padding-left: 1%;
    }

    .buildings .main {
        margin-bottom: 7%;
    }

    .numbers .section-text { 
        padding-left: 4%;
    }

    .bold {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.85em;
        padding-left: 4%;
    }

    .main .bold {
        padding-left: 0;
    }

    .number {
        font-size: 2.5em;
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 3%;
    }

    .now .main-content {
        margin-top: 3%;
        margin-bottom: 0;
        display: flex;
        flex-direction: row-reverse;
    }

    .slider-buttons {
        display: block;
    }

    /* Принципы работы */

    .work-principles {
        padding-left: 7%;
        margin-top: 9%;
    }

    .work-principles .title {
        margin-bottom: 9%;
        width: 92%;
    }

    .slider-two {
        background-color: #fff;
        height: auto;
        position: relative;
        width: 100%;
        padding: 5%;
    }

    .work-principles .title--thin {
        margin-bottom: 3%;
        word-spacing: normal;
        font-size: 1em;
        width: 82%;
        line-height: 1.45em;
    }

    .work-principles .section-text {
        width: 88%;
        font-size: 0.87em;
        line-height: 1.5em;
    }

    .line {
        margin-bottom: 5%;
        width: 100%;
    }

     .line img {
        display: block;
        width: 90%;
        height: 4px;
    } 

      .swiper-slide {
          height: auto;
      }

      .pagination--violet {
        display: none; 
      }

      .buttons-two {
        top: 44px;
        right: 132px;
        position: absolute;
        z-index: 20;
      }

    /* Компания предлагает */

    .offer {
        padding-top: 10%;
        padding-bottom: 10%;
        overflow: hidden;
    }

    .offer .main-content {
        height: auto;
        margin-top: 9%;
    }

    .offer .title {
        margin-bottom: 0;   
    }

    .offer .section-info {
        position: static;
        width: 36%;
        padding: 5% 2% 5% 5%;
        height: auto;
        margin-top: -4%;
    }

    .offer .list-item {
        max-width: 91%;
        font-size: 0.83em;
        padding-bottom: 2.9%;
        padding-left: 3%;
    }

    .offer .main-content::before {
        border-top: 2px solid #d2c8c8;
        border-right: 2px solid #d2c8c8;
        content: '';
        position: absolute;
        width: 18%;
        height: 181%;
        top: -29.5%;
        left: 0;
    }
    

    .offer .list-item::before {
        position: relative;
        content: '';
        width: 13px;
        background-color: #4764b0;
        height: 1px;
        display: block; 
        top: 12px;
        right: 19px;
    }

    .offer .section-picture {
        width: 100%;
        height: auto;   
    }

    .offer .swiper-pagination {
        display: none;
    }

    .slider-three {
        width: 595px;
        height: 32.1%;
        overflow: visible;
    }

    .buttons-three {
        bottom: -116px;
    }

}
